main {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

body {
  background-image: linear-gradient(to right, #00b4db, #0083b0);
}

h1 {
  color: #0f172a;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 1px;
  text-transform: capitalize;
}
.heading {
  border-bottom: 3px solid #10b981;
}

.tours-container {
  display: flex;
  justify-content: center;
}

.tour {
 
  max-width: 320px;
  position: relative;
  border-radius: 0px 4px 0px 0px;
  background-color: rgb(248, 248, 248);
}

.tour-img {
  width: 100%;
  max-height: 200px;
  flex-shrink: 0;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.price {
  width: 46px;
  height: 22px;
  padding: 3px 7.8px 4px 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #10b981;
  border-radius: 0px 4px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
}
.tour-lower {
  padding: 1rem;
}
.tour-lower h5 {
  color: #0f172a;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 5px;
  text-align: left;
  max-width: 280px;
}

.tour-lower p {
  color: #64748b;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 5px;
}

.more {
  color: #10b981;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  display: block;
  margin-bottom: 16px;
  padding: 0;

}

.not-interested {
  border-radius: 4px;
  border: 1px solid #10b981;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #10b981;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
  width: 100%;
  cursor: pointer;

}

.tours-container{
width: 80%;
margin: 0 auto;
gap: 2rem;
display: flex;
flex-wrap: wrap;

}